.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 3rem;
  margin-right: 3rem;
}

.card > img {
  height: 18rem;
  width: 28rem;
  margin-right: 2rem;
  object-fit: contain;
}

.card > h2 {
  color: red;
  margin-left: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card > h4 {
  color: white;
  margin-left: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card > p {
  color: white;
  text-align: center;
  margin: 0;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.btn > button {
  height: 3rem;
  width: 6rem;
  background-color: red;
  color: white;
  border: none;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 43rem;
  border-radius: 10px;
  cursor: pointer;
}
