.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin: 0;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.homeLogo img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 1.5rem;
  margin-top: 2.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  list-style-type: none;
}

.links li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn {
  height: 2.5rem;
  width: 6rem;
  background-color: red;
  color: white;
  font-weight: 700;
  margin-right: 5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.btn:hover {
  background-color: black;
  border: 1px solid red;
}
