.program > h1 {
  color: red;
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.carousel {
  height: 45rem;
  width: 45rem;
  margin-left: 24rem;
}

.carousel p {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
